fastapi>=0.100.0
pydantic>=2.0.0,<3.0.0
uvicorn[standard]
sqlalchemy
jinja2
google-generativeai
google
python-dotenv
psycopg2-binary
pymilvus
weasyprint
python-docx
pdfminer.six
pytesseract
passlib[bcrypt]
pytest
requests
alembic
python-multipart
python-jose[cryptography]
bcrypt
python-multipart
reportlab
